@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

h1,p{
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}
#date-input{
    display: none;
    z-index: -1;
    padding: 100px;
    background: red;
}
.playfair-display-font{
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-style: normal;
  }

  .icon::before {
    display: inline-block;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
  }

.sender{
  padding: 5px;
  border-radius: 5px 5px 0px 5px;
  background-color: palevioletred;
}

.receiver{
  padding: 5px;
  border-radius: 5px 5px 5px 0px;
  background-color: pink;
}