#date-input{
    display: none;
    z-index: -1;
    padding: 100px;
    background: red;
}
.playfair-display-font{
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-style: normal;
  }

  .icon::before {
    display: inline-block;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
  }